  <div class="post-box mx-auto">
    <h1 class="post-title my-3 fs-2 fw-bold">プロフィール</h1>
    <div class="post-show-thumbnail-box mx-auto">
      <%= image_tag "profile.jpg", class: "card-img-top" %>
    </div>
    <div class="post-content">
      <p>こんにちは、当ブログ管理人のヒロキ（34歳）です。</p>
      <p>ここでは僕の自己紹介と当ブログについて簡単にご紹介します。</p>
      <br>
      <h4>過去の経歴</h4>
      <ul>
        <li>25歳で愛知の大手自動車部品メーカーに就職</li>
        <li>仕事が嫌になり3年で退職</li>
        <li>28歳の時にワーホリでニュージーランドに行く（1年3ヶ月）</li>
        <li>帰国後はフリーター（季節労働など）しながらブロガーとして活動</li>
        <li>2年後にブログ月収が25万円になる</li>
        <li>コロナでブログのアクセス、収入ともに激減</li>
        <li>33歳でフリーター生活をやめてニートになる</li>
        <li>暇過ぎて始めたプログラミング(Ruby on Rails)にハマり、テック系ブログ(<a href="https://kobacchi.com">こばっちスタイル</a>)を書いたり自作ブログ(当ブログ)の運営を始めたりする</li>
      </ul>
      <br>
      <p>こんな感じの波瀾万丈な人生を送っています（笑）</p>
      <br>
      <p>ちなみに、過去ブログ（500記事ほど）は諸事情により削除しましたし、現在運営しているブログも広告を一切貼っていないため、ブログ収入は全くありません。</p>
      <p>文字通り、完全なるニートですw</p>
      <p>（1円でも広告収入があれば個人事業主って堂々と言い張れるんですがw）</p>
      <br>
      <p>こんなこと言うと「収入はどうするんだ？」と思われるかもしれませんが、お金は全て実家からもらっています。</p>
      <p>正確にいえば、実家のご先祖が残した財産（不動産）をもらって食い繋いでいます。（実家のスネかじって生きていますw）</p>
      <br>
      <p>こんな自堕落な生活を送っている理由ですが、「今のところやりたい仕事がない」からです。</p>
      <p>いや、正確に言うとやりたい事はあるけどお金（仕事）にならない、、、というのが現実です😭</p>
      <br>
      <p>幸い僕には「ご先祖が残してくれた財産」と言う人生攻略のための最強アイテムがあるおかげで、働かなくてもなんとか生きていくことができます。</p>
      <br>
      <p>だからと言ってずっとニートでいるのも飽きるし、このまま何もしない人生ほどつまらないものはないでしょう。</p>
      <p>だから、いつかは働きたいと思っていますが、僕のやる気スイッチが入るまではしばらくニートやるつもりです。（いつか頑張るw）</p>
      <br>
      <p></p>
      <h4>趣味や好きなことなど</h4>
      <ul>
        <li>登山（大学時代のワンダーフォーゲル部がきっかけ）</li>
        <li>旅行（一人旅がメイン）</li>
        <li>カフェ巡り</li>
        <li>読書（ライトノベルが中心）</li>
        <li>アニメ鑑賞</li>
        <li>音ゲー（ギターフリークス）</li>
        <li>プログラミング（Ruby on Rails）</li>
        <li>ジョギング（雨の日以外は基本毎日走っている）</li>
      </ul>
      <br>
      <p>趣味はこんな感じです。</p>
      <br>
      <p>登山は大学時代からなんだかんだ10年以上やっています。</p>
      <p>最近は登山よりも旅行の方が多く、月１くらいでどこかに出かけています。</p>
      <br>
      <p>33歳でニートになってからは暇すぎてなんとなくプログラミング（Ruby on Rails）を始めてみたら、ハマって趣味になりました（笑）</p>
      <br>
      <p>あと、最近は音ゲー（ギターフリークス）にハマっており、普通の人がドン引きするくらいやり込んでいますw</p>
      <br>
      <h4>当ブログの目的</h4>
      <p>当ブログでは、以下の内容をメインに発信していく予定です。</p>
      <ul>
        <li>登山や旅行の体験談（感動したことや魅力など）</li>
        <li>管理人のプライベートのアレやコレ</li>
      </ul>
      <br>
      <p>基本的には僕が実際に目で見て体験した「ありのまま」を記事にして発信するつもりです。</p>
      <p>普段、人前では猫をかぶっている僕ですが、ブログの中では一切猫を被らないので遠慮なく本音をぶちまけます（笑）</p>
      <p>うまいものはうまい、不味いものは不味い、などとはっきり書きますので心してお読みくださいw</p>
      <br>
      <p>また、当ブログはRuby on Railsで自作したブログです。</p>
      <p>言うなれば、趣味の延長で作ってみた実験ブログみたいなものです。</p>
      <p>自作ブログがどんなふうに成長していくか、アクセス数がどう変化していくのを日々観察してみたいと思い頑張って作りました。</p>
      <br>
      <p>WordPressのブログに比べると見劣りする点も多々ありますが、プログラミング初心者が頑張って作った渾身の作品（自作ブログ）なので、どうか温かい眼差しで見守ってやってくださいw</p>
      <br>
      <h4>姉妹ブログの紹介</h4>
      <p>こちら、WordPressを使ってメインで運営している姉妹ブログです。</p>
      <p>→ <a href="https://kobacchi.com">https://kobacchi.com</a>（こばっちスタイル）</p>
      <br>
      <p>主にプログラミング(Rails)や当ブログのメンテ情報、管理人の日常などについて発信しています。</p>
      <p>よかったらぜひ遊びに来てください。</p>
    </div>
  </div>
