  <div class="post-box mx-auto">
    <h1 class="post-title my-3 fs-2 fw-bold">プロフィール</h1>
    <div class="post-show-thumbnail-box mx-auto">
      <%= image_tag "profile.jpg", class: "card-img-top" %>
    </div>
    <div class="post-content">
      <p>こんにちは、当ブログ管理人のヒロキです。</p>
      <p>ここでは僕の自己紹介と当ブログについて簡単にご紹介します。</p>
      <br>
      <h4>過去の経歴</h4>
      <ul>
        <li>25歳で愛知の大手自動車部品メーカーに就職</li>
        <li>仕事が嫌になり3年で退職</li>
        <li>28歳の時にワーホリでニュージーランドに行く（1年3ヶ月）</li>
        <li>帰国後はフリーター（季節労働など）しながらブロガーとして活動</li>
        <li>2年後にブログ月収が25万円になる</li>
        <li>コロナでブログのアクセス、収入ともに激減</li>
        <li>33歳でフリーター生活をやめてニートになる（現在34歳、ニート2年目）</li>
      </ul>
      <br>
      <p>こんな感じの波瀾万丈な人生を送っています（笑）</p>
      <br>
      <p>ちなみに、過去ブログ（500記事ほど）は諸事情により削除したので、ブログ収入もありません。</p>
      <p>文字通り、完全なるニートですw</p>
      <br>
      <p>こんなこと言うと「収入はどうするんだ？」と思われるかもしれませんが、お金は全て実家からもらっています。</p>
      <p>正確にいえば、実家のご先祖が残した財産（不動産）をもらって食い繋いでいます。（実家のスネかじって生きていますw）</p>
      <br>
      <p>こんな自堕落な生活を送っている理由ですが、「今のところやりたい仕事がない」からです。</p>
      <br>
      <p>幸い僕には「ご先祖が残してくれた財産」と言う人生攻略のための最強アイテムがあるので、わざわざ嫌なことしてまでお金を稼ぎたいと思わないのが本音ですね（笑）</p>
      <br>
      <p>だからといって一生ニートも流石に飽きるのでいつかは働きたいと思っていますが、僕のやる気スイッチが入るまではしばらくニートやるつもりです。（いつか頑張る）</p>
      <br>
      <p></p>
      <h4>趣味や好きなことなど</h4>
      <ul>
        <li>登山（大学時代のワンダーフォーゲル部がきっかけ）</li>
        <li>旅行（一人旅がメイン）</li>
        <li>カフェ巡り</li>
        <li>音ゲー（ギターフリークス）</li>
        <li>プログラミング（Ruby on Rails）</li>
        <li>ジョギング（雨の日以外は毎日走っている）</li>
      </ul>
      <br>
      <p>趣味はこんな感じです。</p>
      <p>登山、旅行、カフェ巡りなどはもともとやっていた趣味で、音ゲーやプログラミングなどはニートになって暇だったので始めました（笑）</p>
      <br>
      <p>ちなみに、当ブログはRailsで自分でプログラムして作った自作ブログです。（バグが発生したらごめんなさいw）</p>
      <br>
      <h4>当ブログの目的</h4>
      <ul>
        <li>趣味の登山、旅行をメインに発信</li>
        <li>僕の価値観や生き様についても少し（気が向いたら趣味についても）</li>
        <li>自分の「体験」や「感動」を読者と共有したい</li>
      </ul>
      <br>
      <p>ざっくりとこんな感じの方針でブログを運営していこうと思っています。</p>
      <br>
      <p>基本的には僕が実際に目で見て体験した「ありのまま」を記事にして発信するつもりです。</p>
      <p>普段、人前では猫をかぶっている僕ですが、ブログの中では一切猫を被らないので遠慮なく本音をぶちまけます（笑）</p>
      <p>うまいものはうまい、不味いものは不味い、などとはっきり書きますので心してお読みくださいw</p>
      <br>
      <p>あと、当ブログは趣味の延長で作ってみた、言わば実験ブログみたいなものです。</p>
      <p>自作ブログがどんなふうに成長していくか、アクセス数がどう変化していくのを日々観察してみたいと思い頑張って作りました。</p>
      <br>
      <p>WordPressのブログに比べると見劣りする点も多々ありますが、プログラミング初心者が頑張って作った渾身の作品（自作ブログ）なので、どうか温かい眼差しで見守ってやってくださいw</p>
      <br>
      <h4>姉妹ブログの紹介</h4>
      <p>こちら、WordPressを使ってメインで運営している姉妹ブログです。</p>
      <p>→ <a href="http://kobacchi.com">http://kobacchi.com</a>（こばっちスタイル）</p>
      <br>
      <p>主にプログラミング(Rails)や当ブログのメンテ情報、管理人の日常などについて発信しています。</p>
      <p>よかったらぜひ遊びに来てください。</p>
    </div>
  </div>
