<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <h1><%= post.title %></h1>
  </p>

  <p>
    <strong>Content:</strong>
    <div class="post-content">
      <%#= sanitize(post.content, tags: %w(table tr td img)) %>
      <%= sanitize post.content %>
    </div>
  </p>

</div>
