#filename {
  display: none;
}

.upload-image-btn{
  font-size: 14px;
  min-height: 46px;
  line-height: 3.14285714;
  padding: 0 36px;
  display: inline-block;
  color: #2271b1;
  border: 1px solid #2271b1;
  border-radius: 3px;
  background: #f6f7f7;
  cursor: pointer;
}

.image-box {
  background:#f6f7f7;
  border: 1px solid #C5C5C5;
  width: 140px;
  height: 140px;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

.image-box-selected {
  box-shadow: 1px 1px 5px 5px #2271b1;
  border: 1px solid white;
}

.image-size {
  max-width: 100%;
  height: auto;
}

.image-drag-over {
  background-color: rgba(26, 83, 120, 0.6);
  z-index: 999;
}

.thumbnail-no-image {
  font-size: 20px;
  text-align: center;
  line-height: 140px;
}

// .image-close {
//   display: block;
//   position: relative;
//   width: 20px;
//   height: 20px;
//   border: 2px solid #333; /* 枠の調整 */
//   background: #fff; /* ボタンの背景色 */

//   &::before,
//   &::after{
//     content: "";
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 3px; /* 棒の幅（太さ） */
//     height: 25spx; /* 棒の高さ */
//     background: #333; /* バツ印の色 */
//   }

//   &::before{
//     transform: translate(-50%,-50%) rotate(45deg);
//   }

//   &::after{
//     transform: translate(-50%,-50%) rotate(-45deg);
//   }
// }

.post-content ul {
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #E7E8E7;
  background: #FCFCFC;
  & li{
  }
}
