<footer class="text-muted">
  <div class="container">
    <div id="page_top">
      <a href="#"></a>
    </div>
    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
  </div>
</footer>

<script>
  window.addEventListener("scroll", function () {
    const pageTop = document.getElementById("page_top");
    const scroll = window.pageYOffset;
    if (scroll > 500) {
      pageTop.style.opacity = "0.6";
    } else {
      pageTop.style.opacity = "0";
    }
  });
</script>
