<div class="container">
  <div id="page_top">
    <a href="#"></a>
  </div>
  <footer class="footer d-flex flex-wrap justify-content-between align-items-center py-3 border-top px-4">
    <p class="col-md-4 mb-0 text-muted">© 2023 「山が好き旅が好き」</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link px-2" %></li>
      <li class="nav-item"><%= link_to "About", profile_path, class: "nav-link px-2" %></li>
      <li class="nav-item"><%= link_to "Category", categories_path, class: "nav-link px-2" %></li>
    </ul>
  </footer>
</div>

<script>
  window.addEventListener("scroll", function () {
    const pageTop = document.getElementById("page_top");
    const scroll = window.pageYOffset;
    if (scroll > 500) {
      pageTop.style.opacity = "0.6";
    } else {
      pageTop.style.opacity = "0";
    }
  });
</script>
