<div class="header-box container d-flex justify-content-between flex-wrap <%= user_signed_in? && current_user.admin? ? "header-admin" : "" %>">
  <div class="blog-title-box">
    <%= link_to root_path do %>
      <%= image_tag "blog-title.png", width: "350px" %>
    <% end %>
  </div>
  <nav class="nav-menu-box">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Category</a></li>
    </ul>
  </nav>
</div>
